@font-face {
    font-family: 'HeadingFont';
    src: url('fonts/heading-font.woff2') format('woff2');
}

@font-face {
    font-family: 'BodyFont';
    src: url('fonts/body-font.woff2') format('woff2');
}

body {
    font-family: 'BodyFont', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h1, h2 {
    font-family: 'HeadingFont', sans-serif;
    color: #333;
}

iframe {
    border: 5px solid #333;
    margin-top: 20px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

img {
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

