
body {
  background-color: #f5f7fa; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
img {
    {height:100px;
     display: block;
     margin: auto; }
h1 {
  color: rgb(34, 85, 140); 
  font-size: 50pt;
  font-weight: bold;
  text-decoration: underline;
}

p {
  line-height: 1.6;
  font-size: 1.1em;
  color: #333;
}

a {
  color: hsl(210, 70%, 40%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
button {
  background-color: #22558c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #183d66;
}

header {
  background-color: #dde6f2;
  padding: 20px;
  text-align: center;
}

